.collaborations {
  &__item {
    // border: 1px solid $brand--secondary;
    background-size: cover;
    background-position: 50% 0;
  }

  // background-size: cover;
  // background-position: 50% 0;
	// width: 100%;
	// height: 86.5vh;
	// text-align: center;
	// position: relative;
	// overflow: hidden;

  &__inner {
    padding: 33px 29px;

    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include section-height;
  }

  &__link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #000;
    opacity: 0.5;
    transition: $transition;

    &:hover {
      opacity: 0;
    }
  }

  &__bottom {
    //align-self: flex-start;
    position: absolute;
    bottom: 33px;
    z-index: 10;

    h2 {
      @include title($brand--primary);
    }
  }

  h1 {
    @include title($brand--primary);
  }
}
