.last-block {
  border: 1px solid $brand--primary;
  background-color: $brand--primary;

  a {
    @include title($bg);

    font-weight: 100;
    font-family: $font--body;

    &:hover {
      text-decoration: none;
    }
  }

  &__inner {
    padding: 33px 29px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include section-height;
  }

  &__top {
    align-self: flex-start;
  }

  &__bottom {
    align-self: flex-start;

    @include title(#000);
    font-weight: 100;

    a {
      @include hoverline($bg);
      @include title($bg);

      text-transform: none;
      font-weight: 100;

      &::after {
        bottom: 2px;
      }
    }

    span {
      display: block;
    }

    .newsletter {
      padding: 15px 0 0 0;

      h4 {
        @include title($bg);
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
