.landscape {
  width: calc(80vw - 40px);

  &__image {
    background-size: cover;
    background-position: 50% 0;
    width: 100%;
    height: 86.5vh;
    text-align: center;
    position: relative;
    overflow: hidden;
  
    @include breakpoint(medium) {
      height: calc(100vh - 125px);
    }
  }
}
