.landscape {
  min-width: 600px;
  width: calc(80vw - 40px);

  @include breakpoint(medium) {
    width: calc(80vw - 40px);
    min-width: auto;
  }

  &__image {
    @include section-height;

    background-size: cover;
    background-position: 50% 0;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
}
