.portrait {
  @include section-height;

  background-size: cover;
  background-position: 50% 0;
	width: 100%;
	text-align: center;
	position: relative;
	overflow: hidden;

  &__inner {
    padding: 33px 29px;
  }
}
