.product {
  border: 1px solid $brand--secondary;
  &__inner {
    padding: 33px 29px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include section-height;
  }

  &__top {
    width: 80%;
  }

  &__image {
    padding: 0 0 15px 0;
  }

  .bottom {
    align-self: flex-start;
  }

  h2 {
    @include title($brand--primary);
    padding: 0 0 15px 0;
  }
}
