.textbox {
  border: 1px solid $brand--secondary;
  &__inner {
    padding: 33px 29px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include section-height;
    max-height: 600px;
    overflow-x: scroll;

    @include breakpoint(medium) {
      max-height: 100%;
      overflow-x: initial;
    }
  }

  .bottom {
    align-self: flex-start;

    h2 {
      @include title($brand--primary);
    }
  }

  a {
    @include paragraph;

    &:hover {
      border-bottom: 1px solid #fff;
      text-decoration: none;
    }
  }
}
